In [1]:
# !pip install google_trans_new
# !pip install googletrans==4.0.0rc1
# !pip install googletrans-temp
# !pip install translate
# !pip install googletrans


# import pandas as pd
# import json
# import os
# from pprint import pprint
# import googletrans
# from googletrans import Translator
# from googletrans import LANGUAGES
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from matplotlib.pyplot import figure


import pandas as pd
import json
import os
from pprint import pprint

import warnings
warnings.filterwarnings("ignore")

# Importing the CSV Files

In [2]:
ca_df = pd.read_csv('../Data/CSVs/CAvideos.csv', encoding="utf-8")
de_df = pd.read_csv('../Data/CSVs/DEvideos.csv', encoding="utf-8-sig")
fr_df = pd.read_csv('../Data/CSVs/FRvideos.csv', encoding="utf-8-sig")
gb_df = pd.read_csv('../Data/CSVs/GBvideos.csv', encoding="utf-8")
in_df = pd.read_csv('../Data/CSVs/INvideos.csv', encoding="utf-8-sig")
jp_df = pd.read_csv('../Data/CSVs/JPvideos.csv', encoding="utf-8")
kr_df = pd.read_csv('../Data/CSVs/KRvideos.csv', encoding="utf-8-sig")
mx_df = pd.read_csv('../Data/CSVs/MXvideos.csv', sep=',', encoding="utf-8-sig")
ru_df = pd.read_csv('../Data/CSVs/RUvideos.csv', sep=',', encoding="utf-8-sig")
us_df = pd.read_csv('../Data/CSVs/USvideos.csv', encoding="utf-8")

In [3]:
# lsofdf = [ca_df, de_df, fr_df, gb_df, in_df, us_df]
lsofdf = [ca_df, de_df, fr_df, gb_df, in_df, jp_df, kr_df, mx_df, ru_df, us_df]
# lsofcoutries = ['ca', 'de', 'fr', 'gb', 'in', 'us']
lsofcoutries = ['ca', 'de', 'fr', 'gb', 'in', 'jp', 'kr', 'mx', 'ru', 'us']

In [4]:
count = 0
for df in lsofdf:
    df = df.drop(['video_id','thumbnail_link','ratings_disabled','video_error_or_removed','description', 'tags'], axis=1)
    value_counts = df['channel_title'].value_counts().to_frame()
    value_counts = value_counts.reset_index()
    value_counts = value_counts.rename(columns={'index': 'channel_title', 'channel_title': 'no_of_vids'})
    df_merged_all = pd.merge(value_counts, df, how = 'left', on = 'channel_title')
    merged = df_merged_all.drop_duplicates(subset = ['channel_title'])
#     merged = merged.filter(['channel_title', 'no_of_vids', 'category_id'])
    merged.to_csv(f'../CSVs/CleanedCSVs/{lsofcoutries[count]}.csv', index = False)
    count+=1

In [5]:
ca_df = pd.read_csv('../CSVs/CleanedCSVs/ca.csv')
de_df = pd.read_csv('../CSVs/CleanedCSVs/de.csv')
fr_df = pd.read_csv('../CSVs/CleanedCSVs/fr.csv')
gb_df = pd.read_csv('../CSVs/CleanedCSVs/gb.csv')
in_df = pd.read_csv('../CSVs/CleanedCSVs/in.csv')
jp_df = pd.read_csv('../CSVs/CleanedCSVs/jp.csv')
kr_df = pd.read_csv('../CSVs/CleanedCSVs/kr.csv')
mx_df = pd.read_csv('../CSVs/CleanedCSVs/mx.csv')
ru_df = pd.read_csv('../CSVs/CleanedCSVs/ru.csv')
us_df = pd.read_csv('../CSVs/CleanedCSVs/us.csv')

In [6]:
lsofdf_clean = [ca_df, de_df, fr_df, gb_df, in_df, jp_df, kr_df, mx_df, ru_df, us_df]

In [7]:
CatCountDF = pd.DataFrame()
count = 0
for df in lsofdf_clean:
    CatCountDF[f'{lsofcoutries[count]}CatCount'] = df['category_id'].value_counts()
    count+=1

CatCountDF = CatCountDF.rename_axis('CategoryID')
CatCountDF = CatCountDF.sort_index()
CatCountDF

,caCatCount,deCatCount,frCatCount,gbCatCount,inCatCount,jpCatCount,krCatCount,mxCatCount,ruCatCount,usCatCount
CategoryID,,,,,,,,,,
1,288,329,331.0,97.0,83,346.0,260,299,466,127
2,55,156,155.0,13.0,6,93.0,27,43,200,56
10,659,659,1065.0,497.0,137,377.0,340,990,609,433
15,36,63,51.0,21.0,1,110.0,47,24,66,48
17,376,558,700.0,89.0,39,442.0,160,646,432,122
19,35,36,36.0,8.0,3,25.0,26,28,72,29
20,235,321,374.0,124.0,3,285.0,206,254,349,59
22,808,1193,1315.0,179.0,157,1204.0,1331,1893,2205,234
23,366,226,409.0,74.0,94,126.0,127,233,319,142
24,1254,1520,1111.0,322.0,572,1163.0,959,1692,725,449
25,531,527,563.0,58.0,214,265.0,359,342,631,105
26,208,187,297.0,77.0,41,141.0,87,281,303,178
27,105,121,116.0,31.0,45,33.0,55,116,171,61
28,95,143,126.0,32.0,24,32.0,31,90,169,153
29,22,39,28.0,3.0,5,7.0,20,45,206,10
43,3,5,NaN,NaN,1,NaN,7,1,7,1

In [8]:
CatCountDF.to_csv('../CSVs/Analysis/CategoryCountsPerCountry.csv')

In [8]:
ca_df

,channel_title,no_of_vids,trending_date,title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled
0,SET India,192,17.14.11,Crime Patrol Dial 100 - क्राइम पेट्रोल - Ep 65...,24,2017-11-12T15:34:31.000Z,210478,905,176,85,False
1,MSNBC,189,17.14.11,Barnicle: World Leaders Are Laughing At The US...,25,2017-11-13T14:53:22.000Z,200264,2947,317,2321,False
2,FBE,188,17.14.11,YOUTUBERS REACT TO TOP 10 TWITTER ACCOUNTS OF ...,24,2017-11-12T22:00:01.000Z,960747,31810,668,5335,False
3,The Young Turks,186,17.14.11,The Alt-Right Is Crushing On Taylor Swift,25,2017-11-13T02:00:00.000Z,100394,1619,907,1595,False
4,REACT,183,17.14.11,DO COLLEGE KIDS KNOW 80s MUSIC? #8 (REACT: Do ...,24,2017-11-12T20:00:01.000Z,549374,16832,248,3579,False
...,...,...,...,...,...,...,...,...,...,...,...
5071,UrinatingTree,1,18.27.05,The Haters Guide to the 2018 Stanley Cup Final,17,2018-05-26T18:27:47.000Z,94354,3823,72,1168,False
5072,Sharing Rock,1,18.17.01,The Cranberries - No Need to Argue,10,2014-01-30T14:16:04.000Z,405780,2264,47,284,False
5073,Rob Dyke,1,18.01.01,5 PEOPLE WITH INCREDIBLY POWERFUL MINDS | Seri...,24,2017-12-31T05:44:57.000Z,86485,7645,236,1361,False
5074,韩国东东 Official,1,18.29.01,韩国普通人&前SM工作人怎么看《偶像练习生》？ 아이돌 전문가와 함께 보는 중국 우상연습생,24,2018-01-28T12:15:40.000Z,30528,456,13,197,False
5075,Headup Games,1,17.07.12,Bridge Constructor Portal - Announcement Trailer,20,2017-12-06T14:19:27.000Z,275333,0,0,1090,False

In [9]:
country_c = ['Canada']

In [10]:
ca_df['Country'] = country_c
ca_df

ValueError: Length of values (1) does not match length of index (5076)

In [7]:
Final_df = ca_df.append([de_df, fr_df, gb_df, in_df, jp_df, kr_df, mx_df, ru_df, us_df], ignore_index = True)

In [9]:
Final_df.to_csv('../CSVs/Analysis/AllCountryDF.csv')