In [99]:
# Magic Function for graphs/displays
%matplotlib inline
#!pip install bar_chart_race

# Importing our Dependencies
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
import json
import time
import os
import requests
import pandas as pd
import scipy.stats as st
import gmaps
from scipy.stats import linregress
from scipy import stats
#from config import g_key
from pprint import pprint


# Hide warning messages in notebook
import warnings
warnings.filterwarnings("ignore")

In [100]:
# LOAD/READ all CSV files
CA_Data = pd.read_csv("../Bubble_Chart/data/ca_cat_data.csv")
DE_Data = pd.read_csv("../Bubble_Chart/data/de_cat_data.csv")
FR_Data = pd.read_csv("../Bubble_Chart/data/fr_cat_data.csv")
GB_Data = pd.read_csv("../Bubble_Chart/data/gb_cat_data.csv")
IN_Data = pd.read_csv("../Bubble_Chart/data/in_cat_data.csv")
JP_Data = pd.read_csv("../Bubble_Chart/data/jp_cat_data.csv")
KR_Data = pd.read_csv("../Bubble_Chart/data/kr_cat_data.csv")
MX_Data = pd.read_csv("../Bubble_Chart/data/mx_cat_data.csv")
RU_Data = pd.read_csv("../Bubble_Chart/data/ru_cat_data.csv")
US_Data = pd.read_csv("../Bubble_Chart/data/us_cat_data.csv")

In [101]:
# ADD a new column for each country with country name
country = "CANADA"
CA_Data['Country'] = country

country = "DENMARK"
DE_Data['Country'] = country

country = "FRANCE"
FR_Data['Country'] = country

country = "GREAT BRITAIN"
GB_Data['Country'] = country

country = "INDIA"
IN_Data['Country'] = country

country = "JAPAN"
JP_Data['Country'] = country

country = "KOREA"
KR_Data['Country'] = country

country = "MEXICO"
MX_Data['Country'] = country

country = "RUSSIA"
RU_Data['Country'] = country

country = "U.S.A"
US_Data['Country'] = country

In [102]:
# MERGE DATAFRAMES with rows
frames = [CA_Data, DE_Data, FR_Data, GB_Data, IN_Data, JP_Data, KR_Data, MX_Data, RU_Data, US_Data]

result = pd.concat(frames)
result.head()

,Unnamed: 0,channel_title,no_of_vids,trending_date,title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,Unnamed: 0.1,Category_name,Country
0,0,SET India,192,17.14.11,Crime Patrol Dial 100 - क्राइम पेट्रोल - Ep 65...,24,2017-11-12T15:34:31.000Z,210478,905,176,85,False,11,Entertainment,CANADA
1,1,MSNBC,189,17.14.11,Barnicle: World Leaders Are Laughing At The US...,25,2017-11-13T14:53:22.000Z,200264,2947,317,2321,False,12,News & Politics,CANADA
2,2,FBE,188,17.14.11,YOUTUBERS REACT TO TOP 10 TWITTER ACCOUNTS OF ...,24,2017-11-12T22:00:01.000Z,960747,31810,668,5335,False,11,Entertainment,CANADA
3,3,The Young Turks,186,17.14.11,The Alt-Right Is Crushing On Taylor Swift,25,2017-11-13T02:00:00.000Z,100394,1619,907,1595,False,12,News & Politics,CANADA
4,4,REACT,183,17.14.11,DO COLLEGE KIDS KNOW 80s MUSIC? #8 (REACT: Do ...,24,2017-11-12T20:00:01.000Z,549374,16832,248,3579,False,11,Entertainment,CANADA

In [104]:
#result['publish_time'].astype(str).astype(int)
#result['trending_date'].str.replace("-","")
result['trending_date'].str.replace(".","").astype(int)

0       171411
1       171411
2       171411
3       171411
4       171411
         ...
2202    182401
2203    172011
2204    181402
2205    171511
2206    172311
Name: trending_date, Length: 45699, dtype: int32

In [105]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45699 entries, 0 to 2206
Data columns (total 15 columns):
Unnamed: 0           45699 non-null int64
channel_title        45699 non-null object
no_of_vids           45699 non-null int64
trending_date        45699 non-null object
title                45699 non-null object
category_id          45699 non-null int64
publish_time         45699 non-null object
views                45699 non-null int64
likes                45699 non-null int64
dislikes             45699 non-null int64
comment_count        45699 non-null int64
comments_disabled    45699 non-null bool
Unnamed: 0.1         45699 non-null int64
Category_name        45699 non-null object
Country              45699 non-null object
dtypes: bool(1), int64(8), object(6)
memory usage: 5.3+ MB

In [106]:
# DROP UN-Wanted/UN-neccessary Columns
result.drop(columns=['Unnamed: 0', 'comments_disabled','Unnamed: 0.1'], inplace = True)

In [107]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45699 entries, 0 to 2206
Data columns (total 12 columns):
channel_title    45699 non-null object
no_of_vids       45699 non-null int64
trending_date    45699 non-null object
title            45699 non-null object
category_id      45699 non-null int64
publish_time     45699 non-null object
views            45699 non-null int64
likes            45699 non-null int64
dislikes         45699 non-null int64
comment_count    45699 non-null int64
Category_name    45699 non-null object
Country          45699 non-null object
dtypes: int64(6), object(6)
memory usage: 4.5+ MB

In [118]:
#result['publish_time'].astype(str).astype(int)
#result['trending_date'].str.replace("-","")
# final_result = result['trending_date'].str.replace(".","").astype(int)

# final_result = result['trending_date'].astype(str).astype(int)
# final_result.head()

result['trending_date']=result['trending_date'].str.replace('.','').apply(int)

In [119]:
# Export DataFrame & Save DataFrame to a .CSV
result.to_csv('../Bubble_Chart/data/fereshtehTesting.csv')