In [1]:
import pandas as pd

In [2]:
csv_file = "Analysis/CategoryCountsPerCountry.csv"
freq_df = pd.read_csv(csv_file, encoding="utf-8")
freq_df

,CategoryID,caCatCount,deCatCount,frCatCount,gbCatCount,inCatCount,jpCatCount,krCatCount,mxCatCount,ruCatCount,usCatCount
0,1,288,329,331.0,97.0,83,346.0,260,299,466,127
1,2,55,156,155.0,13.0,6,93.0,27,43,200,56
2,10,659,659,1065.0,497.0,137,377.0,340,990,609,433
3,15,36,63,51.0,21.0,1,110.0,47,24,66,48
4,17,376,558,700.0,89.0,39,442.0,160,646,432,122
5,19,35,36,36.0,8.0,3,25.0,26,28,72,29
6,20,235,321,374.0,124.0,3,285.0,206,254,349,59
7,22,808,1193,1315.0,179.0,157,1204.0,1331,1893,2205,234
8,23,366,226,409.0,74.0,94,126.0,127,233,319,142
9,24,1254,1520,1111.0,322.0,572,1163.0,959,1692,725,449
10,25,531,527,563.0,58.0,214,265.0,359,342,631,105
11,26,208,187,297.0,77.0,41,141.0,87,281,303,178
12,27,105,121,116.0,31.0,45,33.0,55,116,171,61
13,28,95,143,126.0,32.0,24,32.0,31,90,169,153
14,29,22,39,28.0,3.0,5,7.0,20,45,206,10
15,43,3,5,NaN,NaN,1,NaN,7,1,7,1

In [3]:
freq_df.set_index('CategoryID', inplace=True)
freq_df

,caCatCount,deCatCount,frCatCount,gbCatCount,inCatCount,jpCatCount,krCatCount,mxCatCount,ruCatCount,usCatCount
CategoryID,,,,,,,,,,
1,288,329,331.0,97.0,83,346.0,260,299,466,127
2,55,156,155.0,13.0,6,93.0,27,43,200,56
10,659,659,1065.0,497.0,137,377.0,340,990,609,433
15,36,63,51.0,21.0,1,110.0,47,24,66,48
17,376,558,700.0,89.0,39,442.0,160,646,432,122
19,35,36,36.0,8.0,3,25.0,26,28,72,29
20,235,321,374.0,124.0,3,285.0,206,254,349,59
22,808,1193,1315.0,179.0,157,1204.0,1331,1893,2205,234
23,366,226,409.0,74.0,94,126.0,127,233,319,142
24,1254,1520,1111.0,322.0,572,1163.0,959,1692,725,449
25,531,527,563.0,58.0,214,265.0,359,342,631,105
26,208,187,297.0,77.0,41,141.0,87,281,303,178
27,105,121,116.0,31.0,45,33.0,55,116,171,61
28,95,143,126.0,32.0,24,32.0,31,90,169,153
29,22,39,28.0,3.0,5,7.0,20,45,206,10
43,3,5,NaN,NaN,1,NaN,7,1,7,1

In [6]:
frequency_df = freq_df.transpose()
frequency_df

CategoryID,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29,43
caCatCount,288.0,55.0,659.0,36.0,376.0,35.0,235.0,808.0,366.0,1254.0,531.0,208.0,105.0,95.0,22.0,3.0
deCatCount,329.0,156.0,659.0,63.0,558.0,36.0,321.0,1193.0,226.0,1520.0,527.0,187.0,121.0,143.0,39.0,5.0
frCatCount,331.0,155.0,1065.0,51.0,700.0,36.0,374.0,1315.0,409.0,1111.0,563.0,297.0,116.0,126.0,28.0,NaN
gbCatCount,97.0,13.0,497.0,21.0,89.0,8.0,124.0,179.0,74.0,322.0,58.0,77.0,31.0,32.0,3.0,NaN
inCatCount,83.0,6.0,137.0,1.0,39.0,3.0,3.0,157.0,94.0,572.0,214.0,41.0,45.0,24.0,5.0,1.0
jpCatCount,346.0,93.0,377.0,110.0,442.0,25.0,285.0,1204.0,126.0,1163.0,265.0,141.0,33.0,32.0,7.0,NaN
krCatCount,260.0,27.0,340.0,47.0,160.0,26.0,206.0,1331.0,127.0,959.0,359.0,87.0,55.0,31.0,20.0,7.0
mxCatCount,299.0,43.0,990.0,24.0,646.0,28.0,254.0,1893.0,233.0,1692.0,342.0,281.0,116.0,90.0,45.0,1.0
ruCatCount,466.0,200.0,609.0,66.0,432.0,72.0,349.0,2205.0,319.0,725.0,631.0,303.0,171.0,169.0,206.0,7.0
usCatCount,127.0,56.0,433.0,48.0,122.0,29.0,59.0,234.0,142.0,449.0,105.0,178.0,61.0,153.0,10.0,1.0

In [7]:
frequency_df.to_csv('Analysis/freq_transpose.csv')